﻿@model StockDetalleModel

@{
   
    Layout = "~/Views/Shared/_Layout.cshtml";
}
 

    <div class="container-fluid">
        <p>
            <a asp-action="VerStock">Volver</a>
        </p>
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-6">
                        <h3 class="card-title">@Model.NombreAlmacen</h3>
                        <h5 class="card-title">@Model.DescripcionProducto</h5>
                        <hr />
                        <table class="table table-sm">
                            <thead>
                                <tr>
                                    <th>
                                        Tipo Movimiento
                                    </th>
                                    <th>
                                        Cantidad
                                    </th>
                                    <th>
                                        Creado Por
                                    </th>
                                    <th>
                                        Fecha
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model.DetalleStock)
                                {
                                <tr>
                                    <td>
                                        @item.TipoOperacion
                                    </td>
                                    <td>
                                        @item.CantidadMovimiento
                                    </td>
                                    <td>
                                        @item.UsuarioCreacion
                                    </td>
                                    <td>
                                        @item.FechaCreacion.ToString("dd/MM/yyyy HH:mm:ss")
                                    </td>
                                </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                    <div class="col-6">
                        <h3 class="card-title"> &nbsp;</h3>
                        <h5 class="card-title">&nbsp;</h5>
                        <hr />
                        <img src="~/images/unnamed.png" class="img-thumbnail" width="200" height="150">
                        @*<figcaption class="figure-caption text-right">A caption for the above image.</figcaption>*@

                    </div>
                </div>



            </div>
        </div>

    </div>


