﻿@model StockModel
@{

    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container mt-3">
    <div class="card">
        <div class="card-body">
            <h5 class="card-title"> Stock General</h5>
            <form>
                @*<div class="form-group row">

                <label class="col-sm-1 col-form-label" for="txtAlmacen">Almac&eacute;n</label>
                <div class="col-sm-2">
                    <select name="txtAlmacen" id="cboAlmacen" class="form-control form-control-sm">
                        <option value="0">
                            ...Todos...
                        </option>
                        @foreach (var item in Model.Almacenes)
                        {
                            <option value="@item.CodigoAlmacen">
                                @item.NombreAlmacen
                            </option>
                        }
                    </select>
                </div>

                <label for="txtPRoductos" class="col-sm-2 col-form-label">Productos</label>
                <div class="col-sm-3">
                    <select name="txtPRoductos" id="cboProductos" class="form-control form-control-sm">
                        <option value="0">
                            ...Todos...
                        </option>
                        @foreach (var item in Model.Productos)
                        {
                            <option value="@item.CodigoProducto">
                                @item.DescripcionProducto
                            </option>
                        }
                    </select>
                </div>
                <div class="col-sm-2">
                    <button type="button" id="btnBuscar" class="btn btn-primary btn-sm btn-block">Buscar</button>
                </div>
            </div>*@
                <table class="table table-bordered table-hover">
                    <thead class="bg-info">
                    <th>Almac&eacute;n</th>
                    <th>Producto</th>
                    <th>Cantidad</th>
                    <th></th>
                    </thead>
                    <tbody id="tbBody">
                        @foreach (var item in Model.Stocks)
                        {
                            <tr>
                                <td>@item.NombreAlmacen</td>
                                <td>@item.DescripcionProducto</td>
                                <td>@item.CantidadStock</td>
                                <td><a asp-controller="Almacen" asp-action="DetalleStock" asp-route-almacen="@item.NombreAlmacen" asp-route-producto="@item.DescripcionProducto" class="btn btn-link">ver movimientos</a></td>
                            </tr>
                        }
                    </tbody>
                </table>
            </form>
        </div>
    </div>
</div>
@section Scripts {
    <script src="~/content/stock.js"></script>
}