﻿@model TransporteModel
@{

    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>


    div.map {
        /*        width: 600px;*/
        height: 400px;
    }
</style>
<div class="container mt-3">
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">Transportista</h5>

            <form>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <div id="map" class="col-md-12 map">
                            <h2 class="card-header-pills">Ruta Estimada</h2>
                        </div>

                    </div>
                    <div class="form-group col-md-6">
                        <div id="map2" class="col-md-12 map">
                            <h2 class="card-header-pills">Ruta Real</h2>
                        </div>
                    </div>

                </div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="OrdenPedido" class="col-form-label-sm">Ruta Estimada</label>
                    </div>
                    <div class="form-group col-md-6">
                        <label for="OrdenPedido" class="col-form-label-sm">Ruta Real</label>
                    </div>
                </div>
                    <div class="form-row">
                        <ul class="list-group list-group-horizontal">
                            <li class="list-group-item">@Model.RutaEstimada.NombreTransportista - @Model.RutaEstimada.NombreTransporte</li>
                            <li class="list-group-item">@Model.RutaEstimada.RazonSocial - @Model.RutaEstimada.DescripcionFormaEntrega</li>

                        </ul>
                        <input id="rs" type="hidden" value="@Model.RutaEstimada.RazonSocial" />
                        <input id="latitud" type="hidden" value="@Model.RutaEstimada.Latitud" />
                        <input id="longitud" type="hidden" value="@Model.RutaEstimada.Longitud" />
                    </div>

                    <input type="hidden" id="rutaReal" value="@Model.Coordenadas" />

</form>
        </div>
    </div>
</div>
@section Scripts {
    <script src="~/content/DetalleTransportista.js"></script>
}