﻿@model IEnumerable<vwUnidadTransporteOP>

@{

    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
   

    div#map {
/*        width: 600px;*/
        height: 400px;
    }
</style>
<div class="container mt-3">
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">Monitor de Unidades de Trasporte</h5>

            <form>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <table class="table table-sm mt-4">
                            <thead>
                            <th>Num. Documento</th>
                            <th>Nombre Transporte</th>
                            <th>Placa</th>
                            <th>Tipo Ruta</th>
                            <th></th>
                            </thead>
                            <tbody id="tbBody" >
                                @foreach (var item in Model)
                                {
                                    <tr id="@item.CodigoTransportista" Lat="@item.Latitud" Long ="@item.Longitud" RS="@item.RazonSocial" >
                                        <td>@item.NumeroDocumento</td>
                                        <td>@item.NombreTransporte</td>
                                        <td>@item.Placa</td>
                                        <td>@item.DescripcionTipoRuta</td>
                                        <td>
                                            <a role="button" href="/Transporte/DetalleTranportista/@item.CodigoTransportista" class="btn btn-sm btn-link">
                                                <span class="glyphicon glyphicon-eye-open"> </span>
                                            </a>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                    <div class="form-group col-md-6">

                        <div id="map" class="col-md-12">

                        </div>

                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
@section Scripts {
    <script src="~/content/MonitorTransporte.js"></script>
}
