﻿/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

.PopUp2 {
    /*position: fixed;*/
    position: center;
    display: inline-block;
    overflow-y: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    font-size: 14px;
    background: white;
    z-index: 100;
    -webkit-transform: scale(0);
    transform: scale(0.8);
    opacity: 0;
    transition: all .7s cubic-bezier(0.845, -0.265, 0.190, 1.280);
    pointer-events: none;
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
    pointer-events: auto;
}

.PopUp2 > div {
    position: relative;
    margin: 80px auto;
    background: transparent;
    overflow-y: auto;
    z-index: 200;
}

.PopUp2 .row {
    margin: 0;
}

.PopupCabecera {
    font-size: 15px;
    font-weight: 300;
    padding: 0 20px;
    border: 1px solid #03bf5d;
    text-transform: uppercase;
    padding: 3px;
    z-index: 101;
    background-color: #03bf5d;
    color: white;
    text-shadow: 0px 1px 2px rgba(0,0,0,.2);
}

.PopupCuerpo {
    padding: 0px 15px 20px 15px;
    background: white;
    border-right: 1px solid #03bf5d;
    border-left: 1px solid #03bf5d;
    /*border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;*/
}

.PopupPie {
    width: 100%;
    background-color: #f4f5f6;
    padding: 17px 0;
    text-align: right;
    display: block;
    box-shadow: 0 2px 6px 0 hsla(0,0%,0%,0.2);
    margin-bottom: 0 !important;
    border-right: 1px solid #03bf5d;
    border-left: 1px solid #03bf5d;
    border-bottom: 1px solid #03bf5d;
}

.cerrarPopUp {
    float: right !important;
    position: absolute;
    text-decoration: none;
    text-align: center;
    font-weight: bold;
    top: -30px;
    right: -20px;
    border: 3px solid white;
    background: #03bf5d;
    border-radius: 50%;
    padding: 8px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, .5);
    cursor: pointer;
    width: 25px;
    z-index: 202;
    font-size: 20px;
    /*nuevas*/
    right: 15px;
    top: 5px;
    border: none;
    box-shadow: none;
    padding: 0;
}

.cerrarPopUp .Icons {
    font-size: 20px;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px; /* Vertically center the text there */
}

.boton, .boton-link {
    /*display: inline-block;*/
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    color: #fff;
    background-color: #03bf5d;
    border-color: #03bf5d;
    text-decoration: none;
    border-radius: 0;
    will-change: opacity, transform;
    transition: all .3s ease-out;
    border-radius: 3px;
    transform: translateY(0px);
    display: block;
    text-shadow: 0px 1px 2px rgba(0,0,0,.2);
}

    .boton.boton-cancelar {
        background-color: transparent;
        border-color: #7b7b7b;
        color: #7b7b7b;
    }

    .boton.boton-error {
        background-color: #FA3A5F;
        border-color: #FA3A5F;
    }

    .boton:hover {
        opacity: 0.9;
        transform: translateY(-2px);
        box-shadow: rgba(0, 0, 0, 0.09) 0px 4px 10px 1px;
    }

.lectura {
    background-color: #f4f5f6;
}

.paginacion {
    display: inline-block;
    padding-left: 0;
    margin: 0px 0;
    border-radius: 4px;
    list-style: none;
}

    .paginacion > li:last-child > a, .paginacion > li:last-child > span {
        border-top-right-radius: 4px;
        border-bottom-right-radius: 4px;
    }

    .paginacion > li:first-child > a, .paginacion > li:first-child > span {
        margin-left: 0;
        border-top-left-radius: 4px;
        border-bottom-left-radius: 4px;
    }

    .paginacion > li > a, .paginacion > li > span {
        position: relative;
        float: left;
        padding: 6px 12px;
        margin-left: -1px;
        line-height: 1.42857143;
        color: #337ab7;
        text-decoration: none;
        background-color: #fff;
        border: 1px solid #ddd;
    }

.pagina {
    display: inline-block;
    padding: 4px 10px;
    margin-bottom: 0;
    text-align: center;
    line-height: 1.42857143;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid white;
    color: #1abc9c;
    background-color: white;
    text-decoration: none;
    outline-color: transparent;
    transition: all .5s ease-in-out;
}

    .pagina:hover {
        background-color: #ddd;
        color: #8B91A0;
        border-radius: 50%;
        border: 1px solid #ddd;
    }

.seleccionado, .seleccionado:hover {
    background-color: #00a850;
    color: white;
    border-radius: 50%;
    border: 1px solid #00a850;
    transition: background .5s ease-in-out;
}

.alerta {
    color: white;
    background-color: #02B14C;
    padding: 10px 36px;
    position: fixed;
    font-weight: bold;
    top: 70px;
    right: 10px;
    z-index: 20;
    border-radius: 10px;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, .5);
}

.move-right {
    opacity: 0;
    transform: translateX(150%);
    transition: all 1s ease-in-out;
    -webkit-transition: all 1s ease-in-out;
    -moz-transition: all 1s ease-in-out;
    -o-transition: all 1s ease-in-out;
}

.animate .move-left,
.animate .move-right,
.anix .move-left,
.anix .move-right {
    transform: translateX(0%);
    opacity: 1;
    z-index: 100;
}

.PopUp {
    position: fixed;
    display: inline-block;
    overflow-y: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /*visibility:hidden;*/
    background: rgba(0, 0, 0, 0.45);
    z-index: 100;
    -webkit-transform: scale(0);
    /*transform: scale(0);*/
    transform: scale(0.8);
    opacity: 0;
    transition: all .7s cubic-bezier(0.845, -0.265, 0.190, 1.280);
    /*transition: all 0.2s ease-in-out;*/
    pointer-events: none;
}

    .PopUp.Open {
        -webkit-transform: scale(1);
        transform: scale(1);
        opacity: 1;
        pointer-events: auto;
        /*visibility:visible;*/
    }

    .PopUp > div {
        position: relative;
        margin: 5% auto;
        background: transparent;
        overflow-y: auto;
        z-index: 200;
    }

.PopupCabecera {
    font-size: 15px;
    font-weight: 300;
    padding: 0 20px;
    border: none;
    text-transform: uppercase;
    padding: 3px;
    z-index: 101;
    background-color: #03bf5d;
    color: white;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    text-shadow: 0px 1px 2px rgba(0,0,0,.2);
}

.PopupCuerpo {
    padding: 0px 15px 20px 15px;
    background: white;
    /*border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;*/
}

.PopupPie {
    width: 100%;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: #f4f5f6;
    padding: 17px 0;
    text-align: right;
    display: block;
    box-shadow: 0 2px 6px 0 hsla(0,0%,0%,0.2);
    margin-bottom: 0 !important;
}

.cerrarPopUp {
    float: right !important;
    position: absolute;
    text-decoration: none;
    text-align: center;
    font-weight: bold;
    top: -30px;
    right: -20px;
    border: 3px solid white;
    background: #03bf5d;
    border-radius: 50%;
    padding: 8px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, .5);
    cursor: pointer;
    width: 25px;
    z-index: 202;
    font-size: 20px;
    /*nuevas*/
    right: 15px;
    top: 5px;
    border: none;
    box-shadow: none;
    padding: 0;
}

    .cerrarPopUp .Icons {
        font-size: 20px;
    }