﻿@model SADMO.AppWeb.ViewModels.LoginModel
<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>..:::SADMO:::..</title>
    <link href="~/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    @*<link href="~/Content/Site.css" rel="stylesheet" />*@
</head>
<body>
    <div class="container">
        <div class="row mt-5">

            <div class="col-md-6 offset-md-3">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title text-center">
                            SISTEMA SADMO
                        </h5>
                        <hr />
                        <form autocomplete="off" method="post" asp-action="Home">

                            <div class="form-group row">
                                <label asp-for="Usuario" class="col-sm-3 col-form-label">Usuario:</label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control" id="staticEmail" asp-for="Usuario">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label asp-for="Password" class="col-sm-3 col-form-label">Contraseña:</label>
                                <div class="col-sm-9">
                                    <input type="password" class="form-control" id="inputPassword" asp-for="Password">
                                </div>
                            </div>

                            <div class="form-group row">
                                <div class="col-md-12 text-center">
                                    <input id="btnIngresar" type="submit" value="Ingresar" class="btn btn-primary" />
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>


        </div>
    </div> 

</body>
</html>
