﻿@model BuscarVentaModel
@{

    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container mt-3">
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">Buscar Documento Venta</h5>
            <form>
                <div class="form-row">
                    <div class="form-group col-md-5">
                        <label for="cliente" class="col-form-label-sm">Cliente:</label>
                        <input type="text" class="form-control form-control-sm" id="cliente">
                    </div>
                    <div class="form-group col-md-3">
                        <label for="tipoDocumento" class="col-form-label-sm">Tipo Documento:</label>
                        <select name="tipoDocumento" id="tipoDocumento" class="form-control form-control-sm">
                            @foreach (var item in Model.DocumentosIdentidad)
                            {
                                <option value="@item.CodigoTipoDocIden">
                                    @item.DescripcionDocIden
                                </option>
                            }
                        </select>
                    </div>
                    <div class="form-group col-md-4">
                        <label for="numeroDocumento" class="col-form-label-sm">N&ucirc;mero Documento:</label>
                        <input type="text" class="form-control form-control-sm" id="numeroDocumento">
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-2">
                        <label for="tipoDocumentoVenta" class="col-form-label-sm">Tipo Doc Vta:</label>
                        <select name="tipoDocumentoVenta" id="tipoDocumentoVenta" class="form-control form-control-sm">
                            @foreach (var item in Model.DocumentosVenta)
                            {
                                <option value="@item.CodigoTipoVenta">
                                    @item.DescripcionTipoVenta
                                </option>
                            }
                        </select>
                    </div>
                    <div class="form-group col-md-3">
                        <label for="numeroDocumentoVenta" class="col-form-label-sm">Nro. Doc Vta:</label>
                        <input type="text" class="form-control form-control-sm" id="numeroDocumentoVenta">
                    </div>
                    <div class="form-group col-md-3">
                        <label class="col-form-label-sm">&nbsp;</label>
                        <input type="text" readonly class="form-control-plaintext" value="Fecha de Emisi&oacute;n:">
                    </div>
                    <div class="form-group col-md-2">
                        <label for="fechaInicio" class="col-form-label-sm">Desde:</label>
                        <div class="input-group date" data-provide="datepicker">
                            <input type="text" id="fechaInicio" class="form-control form-control-sm datepicker">
                            <div class="input-group-addon">
                                <span class="glyphicon glyphicon-th"></span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group col-md-2">
                        <label for="fechaFin" class="col-form-label-sm">Hasta:</label>
                        <div class="input-group date" data-provide="datepicker">
                            <input type="text" id="fechaFin" class="form-control form-control-sm datepicker">
                            <div class="input-group-addon">
                                <span class="glyphicon glyphicon-th"></span>
                            </div>
                        </div>
                    </div>

                </div>

                <button id="btnBuscar" type="button" class="btn btn-success btn-sm">
                    Buscar
                </button>
                <button id="btnReset" type="reset" class="btn btn-info btn-sm">
                    <span class="glyphicon glyphicon-erase"></span>  Limpiar
                </button>
                <table class="table table-sm mt-4">
                    <thead>
                    <th>Fecha</th>
                    <th>Tipo Doc.</th>
                    <th>Num. Documento</th>
                    <th>Cliente</th>
                    <th></th>
                    </thead>
                    <tbody id="tbBody">
                    </tbody>
                </table>
            </form>
        </div>
    </div>

</div>
@section Scripts {
    <script src="~/content/BuscarVenta.js"></script>
}
