﻿@model DetalleVentaModel
@{
    ViewData["Title"] = "DetalleVenta";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div class="container mt-3">
    <div class="card"> 
        <div class="card-body">
            <div>
                <h5 class="card-title text-capitalize">Solicitud Tiempo de Entrega</h5>
                
            </div>
            <a id="btnVolver"  asp-action="BuscarVenta" asp-controller="Solicitud"  role="button" class="btn btn-outline-info btn-sm  float-right"><span class="glyphicon glyphicon-backward"></span> Volver</a>
            <form class="mt-3">
                <div class="form-row">
                    <div class="form-group col-md-4">
                        <label for="Estado" class="col-form-label-sm">Estado:</label>
                        <select name="Estado" disabled id="Estado" class="form-control disabled form-control-sm">
                            @foreach (var item in Model.Estados)
                            {
                                @if (@item.CodigoEstado == Model.DetalleVenta.Venta.tbEstado_CodigoEstado)
                                {
                                    <option value="@item.CodigoEstado" selected>@item.DescripcionEstado</option>
                                }
                                else
                                {
                                    <option value="@item.CodigoEstado">@item.DescripcionEstado</option>
                                }
                            }
                        </select>
                    </div>
                    <div class="form-group col-md-4">
                        <label for="FechaEmision" class="col-form-label-sm">Fecha de Emisión:</label>
                        <input type="text" class="form-control form-control-sm" id="FechaEmision" disabled value="@Model.DetalleVenta.Venta.FechaEmisionSolTiempoEntrega.ToString("dd/MM/yyyy")">
                    </div>
                    <div class="form-group col-md-4">
                        <label for="NroDoc" class="col-form-label-sm">Número Documento:</label>
                        <input type="text" class="form-control form-control-sm" id="NroDoc" disabled value="">
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="Cliente" class="col-form-label-sm">Cliente:</label>
                        <input type="text" class="form-control form-control-sm" disabled id="Cliente" value="@Model.DetalleVenta.Cliente.RazonSocial">
                    </div>
                    <div class="form-group col-md-6">
                        <label for="DireccionDestino" class="col-form-label-sm">Dirección Destino:</label>
                        <input type="text" class="form-control form-control-sm" id="DireccionDestino" value="@Model.DetalleVenta.Venta.DirDestinoSolTiempoEntrega">
                        <input type="hidden" id="DireccionDestinoCache" value="@Model.DetalleVenta.Venta.DirDestinoSolTiempoEntrega" />
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-2">
                        <label for="TipoDocIdent" class="col-form-label-sm">Tip. Doc Iden.:</label>
                        <select name="TipoDocIdent" id="TipoDocIdent" disabled class="form-control disabled form-control-sm">
                            @foreach (var item in Model.DocumentosIdentidad)
                            {
                                @if (item.CodigoTipoDocIden == Model.DetalleVenta.Cliente.CodigoTipoDocIden)
                                {
                                    <option value="@item.CodigoTipoDocIden" selected>@item.DescripcionDocIden</option>
                                }
                                else
                                {
                                    <option value="@item.CodigoTipoDocIden">@item.DescripcionDocIden</option>
                                }
                            }
                        </select>
                    </div>
                    <div class="form-group col-md-4">
                        <label for="NumeroDocIden" class="col-form-label-sm">
                            Numero Doc. Identidad:
                        </label>
                        <input type="text" class="form-control form-control-sm" id="NumeroDocIden" disabled value="@Model.DetalleVenta.Cliente.NumeroDocIden">
                    </div>
                    <div class="form-group col-md-3">
                        <label for="Departamento" class="col-form-label-sm">Departamento:</label>
                        <select id="Departamento" class="form-control form-control-sm">
                            @foreach (var item in Model.Departamentos)
                            {
                                @if (item.Codigo == Model.DetalleVenta.Venta.CodigoUbigeo.Substring(0, 2))
                                {
                                    <option value="@item.Codigo" selected>@item.Nombre</option>
                                }
                                else
                                {
                                    <option value="@item.Codigo">@item.Nombre</option>
                                }
                            }
                        </select>
                    </div>
                    <div class="form-group col-md-3">
                        <label for="Provincia" class="col-form-label-sm">Provincia:</label>
                        <select id="Provincia" class="form-control form-control-sm">
                            @foreach (var item in Model.Provincias)
                            {
                                @if (item.Codigo == Model.DetalleVenta.Venta.CodigoUbigeo.Substring(2, 2))
                                {
                                    <option value="@item.Codigo" selected>@item.Nombre</option>
                                }
                                else
                                {
                                    <option value="@item.Codigo">@item.Nombre</option>
                                }
                            }
                        </select>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-2">
                        <label for="TipoDocVenta" class="col-form-label-sm">Tip. Doc Vta.:</label>
                        <select id="TipoDocVenta" disabled class="form-control form-control-sm">
                            @foreach (var item in Model.DocumentosVenta)
                            {
                                @if (item.CodigoTipoVenta == Model.DetalleVenta.Venta.CodigoTipoVenta)
                                {
                                    <option value="@item.CodigoTipoVenta" selected>@item.DescripcionTipoVenta</option>
                                }
                                else
                                {
                                    <option value="@item.CodigoTipoVenta">@item.DescripcionTipoVenta</option>
                                }
                            }
                        </select>
                    </div>
                    <div class="form-group col-md-4">
                        <label for="docVenta" class="col-form-label-sm">
                            Numero Doc. Vta.:
                        </label>
                        <input type="text" disabled class="form-control form-control-sm" id="docVenta" value="@Model.DetalleVenta.Venta.NumeroDocVenta">
                    </div>
                    <div class="form-group col-md-3">
                        <label for="Distrito" class="col-form-label-sm">Distrito:</label>

                        <select id="Distrito" class="form-control form-control-sm">
                            @foreach (var item in Model.Distritos)
                            {
                                @if (item.Codigo == Model.DetalleVenta.Venta.CodigoUbigeo.Substring(4, 2))
                                {
                                    <option value="@item.Codigo" selected>@item.Nombre</option>
                                }
                                else
                                {
                                    <option value="@item.Codigo">@item.Nombre</option>
                                }
                            }
                        </select>
                    </div>
                    <div class="form-group col-md-3">
                        <label for="AgenciaTransporte" class="col-form-label-sm">Agencia de Transporte:</label>

                        <select id="AgenciaTransporte" disabled class="form-control form-control-sm">
                            <option value="0" selected>--Seleccione--</option>
                            @foreach (var item in Model.AgenciasTransporte)
                            {
                                <option value="@item.CodigoAgenciaTransporte" direccion="@item.Direccion" ubigeo="@item.CodigoUbigeo">@item.NombreAgencia</option>

                            }
                        </select>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="Observacion" class="col-form-label-sm">Observación:</label>
                        <textarea class="form-control" rows="4" id="Observacion"></textarea>

                    </div>
                    <div class="form-group col-md-3">
                        <label for="FormaEntrega" class="col-form-label-sm">Forma de Entrega:</label>

                        <select id="FormaEntrega" class="form-control form-control-sm">
                            @foreach (var item in Model.FormasEntrega)
                            {
                                @if (item.CodigoFormaEntrega == Model.DetalleVenta.Venta.CodigoFormaEntrega)
                                {
                                    <option value="@item.CodigoFormaEntrega" selected>@item.DescripcionFormaEntrega</option>
                                }
                                else
                                {
                                    <option value="@item.CodigoFormaEntrega">@item.DescripcionFormaEntrega</option>
                                }
                            }
                        </select>
                        <br />
                        <button id="btnGrabarSolicitud" type="button" class="btn btn-success btn-sm">Generar Solicitud</button>
                        <button id="btnCancelar" type="button" class="btn btn-success btn-sm">Cancelar</button>
                    </div>
                    <div class="form-group col-md-3">
                        <label for="TiempoEntrega" class="col-form-label-sm">Tiempo de Entrega:</label>
                        <input type="text" disabled class="form-control form-control-sm bg-info text-center text-white" id="TiempoEntrega" />
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-10">
                        <table class="table table-sm ">
                            <thead>
                            <th style="width:10%">Cant.</th>
                            <th style="width:10%">Med.</th>
                            <th style="width:45%">Descr. del Producto</th>
                            <th style="width:25%">Marca</th>
                            <th style="width:10%"></th>
                            </thead>
                            <tbody id="tbBody">
                                @foreach (var item in Model.DetalleVenta.Productos)
                                {
                                    <tr id="@item.CodigoProducto" class="text-capitalize">
                                        <td>@item.CantidadDetSolTiempoEntrega</td>
                                        <td>@item.CodigoUniMed</td>
                                        <td class="text-capitalize">@item.DescripcionProducto</td>
                                        <td>@item.MarcaProducto</td>
                                        <td><button type="button" id-producto="@item.CodigoProducto" class="btn btn-sm btn-link btnEliminar"><i class="glyphicon glyphicon-trash"></i> </button> </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                    <div class="form-group col-md-2">
                        <button type="button" class="btn btn-block btn-success btn-sm" data-toggle="modal" data-target=".bd-example-modal-lg">
                            <span class="glyphicon glyphicon-plus-sign"> </span>
                            Agregar Articulo
                        </button>
                    </div>
                </div>
                <div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-lg">

                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">Productos</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body" style="max-height:300px;overflow-y:scroll">
                                <table class="table table-sm ">
                                    <thead>
                                    <th style="width:10%"></th>
                                    <th style="width:10%">Cant.</th>
                                    <th style="width:10%">Med.</th>
                                    <th style="width:45%">Descr. del Producto</th>
                                    <th style="width:25%">Marca</th>
                                    </thead>
                                    <tbody id="tbBody">
                                        @foreach (var item in Model.ProductoVenta)
                                        {
                                            <tr>
                                                <td>
                                                    @{
                                                        string nombre = $"cantidad_{@item.CodigoProducto}";
                                                    }
                                                    <div class="form-check">
                                                        <input class="form-check-input ml-3" type="checkbox" codigo-prod="@item.CodigoProducto">


                                                    </div>
                                                </td>
                                                <td> <input id='@nombre' type="number" min="1" max="100" class="form-control form-control-sm">  </td>
                                                <td> @item.CodigoUniMed </td>
                                                <td> @item.DescripcionProducto </td>
                                                <td> @item.MarcaProducto </td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                                <button type="button" id="btnAgregar" class="btn btn-primary">Agregar</button>
                            </div>
                        </div>
                    </div>
                </div>

            </form>
        </div>
    </div>
</div>
@section Scripts {
    <script src="~/content/DetalleVenta.js"></script>
}