﻿@model DetalleOrdenPedidoModel
@{
    ViewData["Title"] = "DetalleSolicitud";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container mt-3">
    <div class="card">
        <div class="card-body">
            <div>
                <h5 class="card-title">Orden de Pedido</h5>
            </div>
         

            <form class="mt-3">
                <div class="form-row">
                    <div class="offset-10 col-2">
                        <a id="btnVolver" asp-action="OrdenPedido" asp-controller="Solicitud" role="button" class="btn btn-outline-info btn-sm "><span class="glyphicon glyphicon-backward"></span> Volver</a>
                        @if (Model.ModoEnable == "E")
                        {
                            <button id="btnGrabarSolicitud" type="button" class="btn btn-success btn-sm"><span class="glyphicon glyphicon-floppy-disk"></span> Grabar</button>
                        }
                    </div>
                  
                </div>
                <div class="form-row">
                    <div class="form-group col-md-4">
                        <label for="OrdenPedido" class="col-form-label-sm">Órden de Pedido:</label>
                        <input type="text" class="form-control form-control-sm" id="OrdenPedido" disabled value="@Model.DetalleOP.OrdenPedido.CodigoOrdenPedido">
                    </div>
                    <div class="form-group col-md-4">
                        <label for="FechaEmision" class="col-form-label-sm">Fecha de Emisión:</label>
                        <input type="text" id="FechaEmision" disabled class="form-control form-control-sm" value="@Model.DetalleOP.OrdenPedido.FechaEmision">
                    </div>
                    <div class="form-group col-md-4">
                        <label for="Estado" class="col-form-label-sm">Estado:</label>
                        @if (Model.ModoEnable == "L")
                        {
                            <select name="Estado" id="Estado" disabled class="form-control disabled form-control-sm">
                                @foreach (var item in Model.Estados)
                                {
                                    @if (item.CodigoEstado == Model.DetalleOP.OrdenPedido.CodigoEstado)
                                    {
                                        <option value="@item.CodigoEstado" selected>@item.DescripcionEstado</option>
                                    }
                                    else
                                    {
                                        <option value="@item.CodigoEstado">@item.DescripcionEstado</option>
                                    }
                                }
                            </select>
                        }
                        else
                        {
                            <select name="Estado" id="Estado" class="form-control disabled form-control-sm">
                                @foreach (var item in Model.Estados)
                                {
                                    @if (item.CodigoEstado == Model.DetalleOP.OrdenPedido.CodigoEstado)
                                    {
                                        <option value="@item.CodigoEstado" selected>@item.DescripcionEstado</option>
                                    }
                                    else
                                    {
                                        <option value="@item.CodigoEstado">@item.DescripcionEstado</option>
                                    }
                                }
                            </select>
                        }


                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-4">
                        <label for="SolTipoEntrega" class="col-form-label-sm">Sol. Tipo de Entrega:</label>
                        <input type="text" class="form-control form-control-sm" id="SolTipoEntrega" disabled value="@Model.DetalleOP.OrdenPedido.CodigoSolTiempoEntrega">
                    </div>
                    <div class="form-group col-md-3">
                        <label for="FormaEntrega" class="col-form-label-sm">Forma de Entrega:</label>
                        <select id="FormaEntrega" disabled class="form-control form-control-sm">
                            @foreach (var item in Model.FormaEntregas)
                            {
                                @if (item.CodigoFormaEntrega == Model.DetalleOP.OrdenPedido.CodigoFormaEntrega)
                                {
                                    <option value="@item.CodigoFormaEntrega" selected>@item.DescripcionFormaEntrega</option>
                                }
                                else
                                {
                                    <option value="@item.CodigoFormaEntrega">@item.DescripcionFormaEntrega</option>
                                }
                            }
                        </select>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-2">
                        <label for="TipoDocIdent" class="col-form-label-sm">Tip. Doc Iden.:</label>
                        <select name="TipoDocIdent" id="TipoDocIdent" disabled class="form-control disabled form-control-sm">
                            @foreach (var item in Model.DocumentosIdentidad)
                            {
                                @if (item.DescripcionDocIden == Model.DetalleOP.OrdenPedido.DescripcionDocIden)
                                {
                                    <option value="@item.CodigoTipoDocIden" selected>@item.DescripcionDocIden</option>
                                }
                                else
                                {
                                    <option value="@item.CodigoTipoDocIden">@item.DescripcionDocIden</option>
                                }
                            }
                        </select>
                    </div>
                    <div class="form-group col-md-4">
                        <label for="NumeroDocIden" class="col-form-label-sm">
                            Numero Doc. Identidad:
                        </label>
                        <input type="text" class="form-control form-control-sm" disabled id="NumeroDocIden" value="@Model.DetalleOP.OrdenPedido.NumeroDocIden">
                    </div>
                    <div class="form-group col-md-6">
                        <label for="Cliente" class="col-form-label-sm">Cliente:</label>
                        <input type="text" class="form-control form-control-sm" disabled id="Cliente" value="@Model.DetalleOP.OrdenPedido.RazonSocial">
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-2">
                        <label for="DocVenta" class="col-form-label-sm">Tip. Doc Vta.:</label>
                        <select id="DocVenta" disabled class="form-control form-control-sm">
                            @foreach (var item in Model.DocumentosVenta)
                            {
                                @if (item.CodigoTipoVenta == Model.DetalleOP.OrdenPedido.CodigoTipoVenta)
                                {
                                    <option value="@item.CodigoTipoVenta" selected>@item.DescripcionTipoVenta</option>
                                }
                                else
                                {
                                    <option value="@item.CodigoTipoVenta">@item.DescripcionTipoVenta</option>
                                }
                            }
                        </select>
                    </div>
                    <div class="form-group col-md-4">
                        <label for="docVenta" class="col-form-label-sm">
                            Numero Doc. Vta.:
                        </label>
                        <input type="text" disabled class="form-control form-control-sm" id="docVenta" value="@Model.DetalleOP.OrdenPedido.NumeroDocVenta">
                    </div>
                    <div class="form-group col-md-6">
                        <label for="DireccionDestino" class="col-form-label-sm">Dirección Destino:</label>
                        <input type="text" class="form-control form-control-sm" disabled id="DireccionDestino" value="@Model.DetalleOP.OrdenPedido.DirDestinoSolTiempoEntrega">
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-3">
                        <label for="Departamento" class="col-form-label-sm">Departamento:</label>
                        <select id="Departamento" disabled class="form-control form-control-sm">
                            @foreach (var item in Model.Departamentos)
                            {
                                @if (item.Codigo == Model.DetalleOP.OrdenPedido.CodigoUbigeo.Substring(0, 2))
                                {
                                    <option value="@item.Codigo" selected>@item.Nombre</option>
                                }
                                else
                                {
                                    <option value="@item.Codigo">@item.Nombre</option>
                                }
                            }
                        </select>
                    </div>
                    <div class="form-group col-md-3">
                        <label for="Provincia" class="col-form-label-sm">Provincia:</label>
                        <select id="Provincia" disabled class="form-control form-control-sm">
                            @foreach (var item in Model.Provincias)
                            {
                                @if (item.Codigo == Model.DetalleOP.OrdenPedido.CodigoUbigeo.Substring(2, 2))
                                {
                                    <option value="@item.Codigo" selected>@item.Nombre</option>
                                }
                                else
                                {
                                    <option value="@item.Codigo">@item.Nombre</option>
                                }
                            }
                        </select>
                    </div>
                    <div class="form-group col-md-3">
                        <label for="Distrito" class="col-form-label-sm">Distrito:</label>

                        <select id="Distrito" disabled class="form-control form-control-sm">
                            @foreach (var item in Model.Distritos)
                            {
                                @if (item.Codigo == Model.DetalleOP.OrdenPedido.CodigoUbigeo.Substring(4, 2))
                                {
                                    <option value="@item.Codigo" selected>@item.Nombre</option>
                                }
                                else
                                {
                                    <option value="@item.Codigo">@item.Nombre</option>
                                }
                            }
                        </select>
                    </div>
                    <div class="form-group col-md-3">

                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="Observacion" class="col-form-label-sm">Observación:</label>
                        <textarea class="form-control" rows="2" id="Observacion" disabled>@Model.DetalleOP.OrdenPedido.Observacion</textarea>

                    </div>
                    <div class="form-group col-md-3">
                        <label for="TiempoEntregaEstimado" class="col-form-label-sm">Tiempo de Entrega Estimado:</label>
                        <input type="text" disabled class="form-control form-control-sm bg-info text-center text-white" value="@Model.DetalleOP.OrdenPedido.TiempoEntregaSolTiempoEntrega" id="TiempoEntregaEstimado" />
                    </div>
                    <div class="form-group col-md-3">
                        <label for="TiempoEntregaReal" class="col-form-label-sm">Tiempo de Entrega Real:</label>
                        @{ var TiempoEntregaReal = Model.DetalleOP.OrdenPedido.TiempoEntregaReal.HasValue ? Model.DetalleOP.OrdenPedido.TiempoEntregaReal.Value.ToString("dd/MM/yyyy HH:mm:ss") : ""; }
                        <input type="text" disabled class="form-control form-control-sm bg-success text-center text-white" value="@TiempoEntregaReal" id="TiempoEntregaReal" />


                    </div>
                </div>
                <div class="form-row">

                </div>
                <div class="form-row">
                    <div class="form-group col-md-12">
                        <table class="table table-sm ">
                            <thead>
                            <th style="width:10%">Cant.</th>
                            <th style="width:10%">Med.</th>
                            <th style="width:45%">Descr. del Producto</th>
                            <th style="width:25%">Marca</th>
                            <th style="width:10%">Tramo</th>
                            </thead>
                            <tbody id="tbBody">
                                @foreach (var item in Model.DetalleOP.ProductosOrdenPedido)
                                {
                                    <tr id="@item.CodigoProducto" class="text-capitalize">
                                        <td>@item.Cantidad</td>
                                        <td>@item.CodigoUniMed</td>
                                        <td class="text-capitalize">@item.DescripcionProducto</td>
                                        <td>@item.MarcaProducto</td>
                                        <td>@item.Tramo</td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>


            </form>
        </div>
    </div>
</div>
@section Scripts {
    <script src="~/content/DetalleOrdenPedido.js"></script>
}

