﻿@model OrdenPedidoModel

@{

    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container mt-3">
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">Buscar Orden de Pedido </h5>
            <form>
                <div class="form-row">
                    <div class="form-group col-md-2">
                        <label for="ordenPedido" class="col-form-label-sm">Órden de Pedido:</label>
                        <input type="text" class="form-control form-control-sm" id="ordenPedido">
                    </div>
                    <div class="form-group col-md-3">
                        <label for="nroSolicitud" class="col-form-label-sm">Sol. Tiempo Entrega:</label>
                        <input type="text" class="form-control form-control-sm" id="nroSolicitud">
                    </div>
                    <div class="form-group col-md-3">
                        <label class="col-form-label-sm">&nbsp;</label>
                        <input type="text" readonly class="ml-1 form-control-plaintext" value="Fecha de Emisi&oacute;n:">
                    </div>
                    <div class="form-group col-md-2">
                        <label for="fechaInicio" class="col-form-label-sm">Desde:</label>
                        <div class="input-group date" data-provide="datepicker">
                            <input type="text" id="fechaInicio" class="form-control form-control-sm datepicker">
                            <div class="input-group-addon">
                                <span class="glyphicon glyphicon-th"></span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group col-md-2">
                        <label for="fechaFin" class="col-form-label-sm">Hasta:</label>
                        <div class="input-group date" data-provide="datepicker">
                            <input type="text" id="fechaFin" class="form-control form-control-sm datepicker">
                            <div class="input-group-addon">
                                <span class="glyphicon glyphicon-th"></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-2">
                        <label for="tipoDocumentoVenta" class="col-form-label-sm">Tipo Doc. Vta.:</label>
                        <select name="tipoDocumentoVenta" id="tipoDocumento" class="form-control form-control-sm">
                            @foreach (var item in Model.DocumentosVenta)
                            {
                                <option value="@item.CodigoTipoVenta">
                                    @item.DescripcionTipoVenta
                                </option>
                            }
                        </select>
                    </div>
                    <div class="form-group col-md-4">
                        <label for="numeroDocumentoVenta" class="col-form-label-sm">Número Documento de Venta:</label>
                        <input type="text" class="form-control form-control-sm" id="numeroDocumentoVenta">
                    </div>
                    <div class="form-group col-md-3">
                        <label for="estadoDocumento" class="col-form-label-sm">Estado:</label>
                        <select name="estadoDocumento" id="estadoDocumento" class="form-control form-control-sm">
                            <option value="0" selected>Todos</option>
                            @foreach (var item in Model.Estados)
                            {
                                <option value="@item.CodigoEstado">
                                    @item.DescripcionEstado
                                </option>
                            }
                        </select>
                    </div>
                    <div class="form-group col-md-3">
                        <label for="formaEntrega" class="col-form-label-sm">Forma de Entrega:</label>
                        <select name="formaEntrega" id="formaEntrega" class="form-control form-control-sm">
                            <option value="0" selected>Todos</option>
                            @foreach (var item in Model.FormasEntrega)
                            {
                                <option value="@item.CodigoFormaEntrega">
                                    @item.DescripcionFormaEntrega
                                </option>
                            }
                        </select>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="cliente" class="col-form-label-sm">Cliente:</label>
                        <input type="text" class="form-control form-control-sm" id="cliente">
                    </div>
                </div>
                <button id="btnBuscar" type="button" class="btn btn-success btn-sm">
                    <span class="glyphicon glyphicon-search"></span>  Buscar
                </button>
                <button id="btnReset" type="reset" class="btn btn-info btn-sm">
                    <span class="glyphicon glyphicon-erase"></span>  Limpiar
                </button>
                <table class="table table-sm mt-4">
                    <thead>
                    <th>Nro. Documento</th>
                    <th>Estado</th>
                    <th>Cliente</th>
                    <th></th>
                    </thead>
                    <tbody id="tbBody">
                    </tbody>
                </table>
            </form>
        </div>
    </div>
</div>
@section Scripts {
    <script src="~/content/OrdenPedido.js"></script>
}