﻿@model ApiStockResponse
@{
    ViewData["Title"] = "GrabarMovimiento";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
    <div class="container mt-3">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title"> Resultado</h5>
                @if (Model.Estado)
                {
                    <div class="alert alert-success" role="alert">
                        El registro se realizó con éxito
                    </div>
                }
                else { 
            <div class="alert alert-danger" role="alert">
                Se produjo un error al registrar ingreso/salida de producto: @Model.Mensaje
            </div>
                }
            </div>
            <a class="btn btn-sm btn-link" asp-action="Index" asp-controller="Rfid" >Volver</a>
        </div>
    </div>