﻿@model RfidModel
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container mt-3">
    <div class="card">
        <div class="card-body">
            <h5 class="card-title"> Monitor RFID</h5>
        </div>
        <div class="card-body">
            <h5 class="card-title"> Stock General</h5>
            <form asp-action="GrabarMovimiento" asp-controller="Rfid" asp-route-RfidCodInterno="@Model.CodInterno" asp-route-rfidTag="@Model.TagRfid" method="post">
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="rfid" class="col-form-label-sm">Seleccione Rfid:</label>
                        <select name="rfid" id="rfid" class="form-control form-control-sm">
                            @foreach (var item in Model.RFIDs)
                            {
                                <option value="@item.CodigoInterno">
                                    @string.Format("{0} - {1} - {2}", @item.CodigoInterno, @item.NombreAlmacen, @item.TipoOperacion)
                                </option>
                            }
                        </select>
                        <input type="hidden" name="RfidCodInterno" id="RfidCodInterno" value="@Model.CodInterno" />
                    </div>
                    <div class="form-group col-md-4">
                        <label for="rfidTag" class="col-form-label-sm">Ingrese Etiqueta Rfid:</label>
                        <input type="text" name="rfidTag" class="form-control form-control-sm" id="rfidTag" value="@Model.TagRfid">
                    </div>
                </div>
                <button id="btnBuscar" type="submit" class="btn btn-success btn-sm">
                    Registrar
                </button>
            </form>
        </div>
    </div>

</div>
@section Scripts {
    <script >

        $(document).ready(function () {
            $("#RfidCodInterno").val($("#rfid option:selected").val());  
            $("#rfid").on('change', function (e) {
                $("#RfidCodInterno").val($("#rfid option:selected").val());                
            });
        });
    </script>
}
